<main role="main">

	<section class="jumbotron text-center m-0">

		<div class="container">

			<h1 class="jumbotron-heading">
				Thumbnail Generator
			</h1>

			<p class="lead text-muted">
				On the left, you can authenticate yourself using your email-address and a code of choice.
				<br>
				Once authenticated, you can choose to upload a file, (click browse... -> select a file -> upload),
				or view the status of your requested thumbnails.
				<br>
				Once a thumbnail is generated, you will receive an email and they will be available for download for 7 days.
			</p>

			<form [formGroup]="uploadForm" (ngSubmit)="onFileUpload()">

				<div class="row">

					<div class="col border-right border-info">

						<div class="form-group text-left">

							<label for="userForm_email">
								Email:
							</label>
							<input
								class="form-control"
								id="userForm_email"
								type="email"
								formControlName="email"
							>

							<label for="userForm_code">
								Code:
							</label>
							<input
								class="form-control"
								id="userForm_code"
								type="email"
								formControlName="code"
							>

							<label for="slackForm">
								Slack:
							</label>
							<div class="input-group" id="slackForm">

								<div class="input-group-prepend">

									<span class="input-group-text" id="">
										Webhook
									</span>

								</div>

								<input
									class="form-control"
									id="slackForm_url"
									type="url"
									formControlName="slack_webhook"
								>

							</div>

						</div>

					</div>

					<div class="col align-self-end">

						<div class="form-group">

							<div class="input-group">

								<div class="input-group-prepend">
									<button
										class="btn btn-primary btn-sm"
										type="submit"
										#imageUploadButton
									>
										Upload!
									</button>
								</div>

								<div class="custom-file">
									<label
										class="custom-file-label"
										for="uploadForm_file"
										#imageUploadLabel
									> Choose an image. </label>
									<input
										type="file"
										class="custom-file-input"
										id="uploadForm_file"
										formControlName="image"
										(change)="onFileChanged($event)"
									>
								</div>

							</div>

						</div>

					</div>

				</div>

			</form>

		</div>

	</section>

	<ng-template [ngIf]="!requestedThumbnailData">

		<div class="container mt-5 mb-5">

			<div class="row justify-content-center align-items-center">

				<div class="input-group w-25">

					<button
						class="form-control btn-info"
						(click)="syncThumbnails()"
						#syncButton
					>
						Retrieve thumbnails
					</button>

					<div class="input-group-append">

						<span class="input-group-text">
							<fa-icon
								#syncStatus
								[icon]="faCloudDownload"
							></fa-icon>
						</span>

					</div>

				</div>

			</div>

		</div>

	</ng-template>

	<ng-template [ngIf]="requestState.requestSuccessful && !requestState.requestInProgress">

		<div class="album py-5 bg-light mh-100">

			<div class="container">

				<ng-container *ngFor="let thumbnail of thumbnailList; let idx = index;">

					 <div class="row" *ngIf="idx%2 === 0">
						<ng-container *ngFor="let cardIdx of lodash.range(idx, lodash.min([thumbnailList.length, idx + 2]), 1)">
							<div *ngIf="!thumbnailList[cardIdx].isProcessed" class="{{ CheckFileExist(thumbnailList[cardIdx].key)? 'col-md-6': 'col-md-4'}}">

								<div class="{{ CheckFileExist(thumbnailList[cardIdx].key)? 'card mb-6': 'card mb-4'}} box-shadow">
										<img
										alt="Thumbnail [100%x200]"
										style="height: 200px; width: 100%;object-fit: contain;"
										[src]="thumbnailList[cardIdx].url"
									>

									<div *ngIf="CheckFileExist(thumbnailList[cardIdx].key)">
									<img src="../assets/arrow.png"
										 alt="Arrow"
										 height="50" width="50" style="margin-left:45%;object-fit: contain"/>

										<img
											alt="Thumbnail GENERATED [50%x125]"
											style="height: 125px;width: 50%;margin-left:25%;object-fit: contain;"
											[src]="FindLink(thumbnailList[cardIdx].key)"
										>
									</div>

									<div class="card-body">

										<p class="card-text">
											{{ thumbnailList[cardIdx].key }}
										</p>

										<div class="d-flex justify-content-between align-items-center">

											<div class="btn-group">

												<button type="button" class="btn btn-sm {{ CheckFileExist(thumbnailList[cardIdx].key)? 'btn-info': 'btn-secondary'}} btn-outline-secondary text-white" (click)="openImage(FindLink(thumbnailList[cardIdx].key))">
													View
												</button>

												<button type="button" class="btn btn-sm {{ CheckFileExist(thumbnailList[cardIdx].key)? 'btn-primary': 'btn-secondary'}} btn-outline-secondary text-white" (click)="downloadImage(FindLink(thumbnailList[cardIdx].key))">
													Download
												</button>

												<button
													type="button"
													class="btn btn-sm btn-outline-secondary text-black-50 {{ CheckFileExist(thumbnailList[cardIdx].key)? 'btn-primary': 'btn-danger'}}"
													disabled
												>
													Status: {{ CheckFileExist(thumbnailList[cardIdx].key)? 'ready': 'not ready'}}
												</button>

											</div>

											<small class="text-muted">
												{{ cardIdx + 1 }}
											</small>

										</div>

									</div>
								</div>
							</div>

						</ng-container>
		            	</div>
				</ng-container>

			</div>

		</div>

	</ng-template>

</main>
